
.cover {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: "header header header" ". lemon ." "footer footer footer";
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;
}
.header {
    grid-area: header;
}
.footer {
    grid-area: footer;
}
.main {
    grid-area: lemon;
    border: 1px solid greenyellow;
}
.main img {
    object-fit: fill;
    overflow: hidden;
}
